.containerProject {
	width: 100%;
	height: 100vh;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: box-shadow 0.3s ease-in-out;
}

.containerProject:last-child {
	margin-bottom: 200px;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	transition: opacity 0.3s linear;
}

@media screen and (max-width: 800px) {
	.image {
		opacity: 0.35 !important;
	}
}
